{% extends 'base.html' %}
{% block content %}
<body>
    <div class="container">
        <div class="form-group col-4">
        <form action="{% url 'cal:event_new' %}" method="POST">
            {% csrf_token %}
            <table class = "table">
                <tr>
                    <td>Title</td>
                    <td><input type="text" class="form-control" name="title"></td>
                </tr>
                <tr>
                    <td>Desription</td>
                    <td><textarea name="description" class="form-control" cols="30" rows="10">
                    </textarea>
                    </td>
                </tr>
                <tr>
                    <td>Start Date</td>
                    <td><input type="date" class="form-control" name="start_date"></td>
                </tr>
                <tr>
                    <td>End Date</td>
                    <td><input type="date" class="form-control" name="end_date"></td>
                </tr>

            </table>
            <br>
            <input type="submit" class="btn btn-primary" value="제출하기">
        </form>
        </div>
    </div>
    
</body>
</html>
{% endblock %}