
{% extends 'base.html'%}

{% block content %}
{% load staticfiles %}
<style>
    @font-face { 
        font-family: Binggrae-Bold; 
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff'); 
        font-weight: normal; 
        font-style: normal; 
    }
    h1{
        font-size: 25px;
        font-family: Binggrae-Bold;
        font-weight: 400;
        text-align: center;
    }
    h3{
        font-size: 17px;
        font-family: Binggrae-Bold;
        font-weight: 100;
        text-align: left;
    }
    .button_detail { 
            margin: 19px 0px 8px;
            font-weight: 300;
            text-decoration: none;
            font-family: Binggrae-Bold;
            font-size: 18px;
            padding-top: 1px;
            height: 30px;
            -webkit-border-radius: 5px 5px 5px 5px;
            border-radius: 5px 5px 5px 5px;
            background-color: #FFF0BD ;
            border: 1.5px solid rgb(184, 184, 184);
            color: rgb(32, 32, 32);
            
    }
    
    
    .button_detail:hover  {
    background-color:#FFDE71 ;
    color: rgb(32, 32, 32);
    text-decoration: none
    }
        
    input[type=submit] {
    background-color: #FFF0BD ;
    border: 1.5px solid rgb(184, 184, 184);
    color: rgb(32, 32, 32);
    
    }
    input[type=submit]:hover  {
    background-color:#FFDE71 ;
    border: 1.5px solid rgb(184, 184, 184);
        }
    option{
        color:black;
    }
    select.form-control:not([size]):not([multiple]) {
        height: calc(3rem + 2px);
        margin-right: 2px;
    }
    .btn22 {
        margin-left: 1050px;
        color: #635D4A;
    }
</style>
<body>
<br>
    <div class="container">
        <h1><img src="{% static '/images/intro/logosm.png'%}" id="icon" >Q&A<img src="{% static '/images/intro/logosm.png'%}" id="icon" ></h1>
        <table class="table table-striped">
            <thead>
                
                <h3>총 게시글 수 : {{counts}}</h3>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>등록일</th>
                    <th>조회수</th>
                </tr>
            </thead>
            <tbody>
                    {% for question in posts %}
                    <tr>
                        <td>{{question.id }} </td>
                        <td><a style="margin-left:20px" href="{% url 'questiondetail' question.id %}" title="{{question.body}}">{{question.title}}</a></td>
                        </div>
                        <td>{{question.writer}}</td>
                        <td>{{question.pub_date}}</td>
                        <td >{{question.hit}}</td>
                    </tr>
                    {% endfor %}
    
            </tbody>
        </table>
        {% if user.is_authenticated %}
        <form action="{% url 'newnotice' %}" method="GET">
            <div class="btn22"><input type="submit" class="btn btn-warning" value="글쓰기"></div>
        </form>  
        {% endif %}
    </div>
<br>

 

    {# 게시판 형식 및 페이지네이션 구현 #}

    {% if posts.has_other_pages %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if posts.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">&lt;</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
            <li class="page-item disabled"><span class="page-link">&lt;</span></li>
            {% endif %}

            {% for i in posts.paginator.page_range %}
            {% if posts.number == i %}
            <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
            </li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}

            {% if posts.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">&gt;</a></li>
            <li class="page-item"><a class="page-link" href="?page={{posts.paginator.num_pages}}">&raquo;</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">&gt;</span></li>
            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}




    <!--     <div class="container">
        <h1>게시글</h1>
        {# 글쓰기 버튼 #}
        <a href="{% url 'newquestion' %}">글쓰기</a>
        <br>

        {# 글 띄우는 부분 #}
        {% for policy in policies %}
            <h2><a href="{% url 'detail' policy.id %}">{{ policy.title}}</a></h2>
            <h4>{{ policy.pub_date }}</h4>
            <p>{{ policy.body }}</p>
            <a href="{% url 'update' policy.id %}">수정</a>
            <a href="{% url 'delete' policy.id %}">삭제</a>
            <hr>
        {% endfor %}

    </div> -->

</body>
{% endblock %}