
html { 
    -webkit-text-size-adjust: none; 
}

.header_cont{
    margin-left:100px;
}

.nav{
    align-content: center;
}

.carousel{
    width:66%;
    float:left;
}

.policy_search{
    font-family: Binggrae-Bold;
    width: 30%;
    padding-left: 30px;
    margin:auto;
    float: left;
    height: 100%;
}

.policy_search > li {
    height:100%;
}

.form_search{
    border: 1px solid #635D4A;
    margin-top:7px;
    height:630px;
    color:#635D4A;
}

.form_search > div{
    font-family: Eoe_Zno_L;
    height: 13%;
    margin: 35px 20px;
}

.tab_btn {height: 50px;
    align-items: center;
    display: block;
    top: 0;
    padding: 4px 0;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    border: 1px solid #e5e5e5;
    background: #fff;
    border-radius: 3px;
}

.tab_btn.active {
    text-align: center;
    background: #FFF0BD;
    border-color: #0a0b0b;
    font-weight: 500;
    font-size: 20pt;
    color: #0a0b0b;
}

.tab_btn.active + .tab_cont {
    display: block
}

.tab_btn > a {
    text-align: center;
}

.snip1535 {
    margin-left:100px;
    background-color: #635D4A;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Binggrae-Bold', Arial, sans-serif;
    font-size: 1em;
    font-size: 22px;
    line-height: 1em;
    margin: 15px 90px;
    outline: none;
    padding: 12px 40px 10px;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
}
.snip1535:before,
.snip1535:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}
.snip1535:before {
  border-color: rgb(255, 222, 113);
  border-right-width: 2px;
  border-top-width: 2px;
  right: -5px;
  top: -5px;
}
.snip1535:after {
  border-bottom-width: 2px;
  border-color: rgb(255, 222, 113);
  border-left-width: 2px;
  bottom: -5px;
  left: -5px;
}
.snip1535:hover,
.snip1535.hover {
  background-color: rgb(255, 222, 113);
}
.snip1535:hover:before,
.snip1535.hover:before,
.snip1535:hover:after,
.snip1535.hover:after {
  height: 100%;
  width: 100%;
}

/* policyList */

.policy_date{
    font-family:Binggrae-Bold;
    margin-top: 30px;
    font-size: 9pt;
    color: #635D4A;
    text-align: right;
    margin-right:20px;
    border-bottom: 1px solid rgb(255, 222, 113);
}
.policy_title{
    font-family:Binggrae-Bold;
    font-size: 15pt;
    color: #635D4A;
    text-align: center;
    margin-bottom: 20px;
    height: 20px;
}

.policy_body{
    font-family: Eoe_Zno_L;
    font-size: 13pt;
    color:#635D4A;
    margin-left: 30px;
    margin-right: 30px;
    height:170px;
    
}

/* policyList 끝 */


/* detailPolicy */
@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css); 
.jejumyeongjo * { 
    font-family: 'Jeju Myeongjo', serif; 
}

.detail_content{
    font-family: Binggrae-Bold;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 800px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.detail_title{
    font-family:Binggrae-Bold;
    margin-top: 10px;
    padding: 30px 0 0px;
    font-size: 25pt;
    color: #635D4A;
    width:800px;
    margin-left: 20px;
}
.detail_content2{
    width: 800px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 1px solid black;
}

.detail_pub_date{
    margin-bottom: 50px;
    color: #635D4A;
}
.detail_pub_date > a {
    border-bottom: 1px solid rgb(255, 222, 113);
    color: #635D4A;
}
.policy_mark{
    float:right;
    border: 1px solid #635D4A;
    padding: 5px;
    margin-right: 8px;
    background-color: rgb(255, 222, 113);
}
input[type=submit] {
    font-family:Binggrae-Bold;
    background-color: #FFF0BD ;
    border: 1.5px solid rgb(184, 184, 184); 
    color: #635D4A;       
    }
input[type=submit]:hover  {
    font-family:Binggrae-Bold;
    background-color:#FFDE71 ;
    border: 1.5px solid rgb(184, 184, 184);
    color: #635D4A;   
}
.button { 
    margin: 19px 0px 8px;
    font-weight: 400;
    padding-left: 25%;
    padding-right: 25%;
    font-family: Binggrae-Bold;
    font-size: 18px;
    width: 10px;
    height: 30px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
.ad2{
    font-family: Binggrae-Bold;
    text-align: center;          
    margin-left: 550px;
}
.detail_date{
    font-family: Jeju Myeongjo;   
    padding-left: 50px;
    padding-right: 50px;
    color: #635D4A;
    font-size: 13pt;
    text-align: left;
    height: 100%;
    width: 800px;
}
.detail_date > a {
    border-bottom: 1px solid rgb(255, 222, 113);
    color: #635D4A;
}
.detail_title2{
    font-family:Binggrae-Bold;
    margin-top: 10px;
    font-size: 15pt;
    color: #635D4A;
    width:800px;
    margin-left: 20px;
}
.detail_body{
    font-family: Jeju Myeongjo;   
    padding-left: 50px;
    padding-right: 50px;
    color: #635D4A;
    font-size: 13pt;
    text-align: left;
    height: 100%;
    width: 800px;
}
/* detailPolicy 끝 */

/* newPolicy */
.new_title{
    font-family:Binggrae-Bold;
    margin-top: 10px;
    padding: 67px 0 52px;
    font-size: 20pt;
    color: #635D4A;
    width:800px;
    margin-left: 10px;
}
/* newPolicy 끝 */

/* updatePolicy */
.update_title{
    font-family:Binggrae-Bold;
    margin-top: 10px;
    padding: 67px 0 52px;
    font-size: 20pt;
    color: #635D4A;
    width:800px;
    margin-left: 170px;
}

/* updatePolicy 끝*/