{% extends 'base.html'%}

{% block content %}
<style>
a:hover{
    color: black;
}
a{
    color: black;
    padding:0;
}
</style>
<body>
<br>
<div class="container">
  <br>
  <div class="row">
{% for policy in policies %}
  <!--이부분부터 추가 for문으로 넣으시면 됩니다-->
  <div class = "col-sm-12 col-md-6 col-xl-3">
    <div class="card h-card">
      <div class="card-body h-card-body">
        <a href="{% url 'policydetail' policy.id %}"><h3>{{policy.summary_title}}</h3></a>
        <p class="h-card-text"><h4>[{{policy.region}}]</h4></p>
        <p class="h-card-text"><h5>{{policy.summary_body}}....</h5></p>
      </div>
    </div>
  </div>
{% endfor %}
  <br>
  {# 로그인 하면 글쓰기 가능... #}
  {% if user.is_authenticated %}
  <a href="{% url 'newPost'%}">글쓰기</a>
  {% endif %}
  <br>
  </div>
</div>
    <hr>
    <br>
    <br>

    {# 게시판 형식 및 페이지네이션 구현 #}

  
    <hr>
    <div class="search_form ">
        <form class="form-inline my-2 my-lg-0 justify-content-center" action="" method="get">
            {# name 속성 : 변수 이름?  #}
            <select class="form-control" title="지역" name="region">
                <option value="">지역</option>
                <option value="서울">서울</option>
                <option value="경기">경기</option>
                <option value="인천">인천</option>
            </select>
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{ q }}">
            <input type="submit" class="btn btn-primary" value="검색">
        </form>
    </div>
    <br>
</body>

</html>
{% endblock %}