{% extends 'base.html'%}

{% block content %}
<style>
a:hover{
    color: black;
}
a{
    color: black;
    padding:0;
}
</style>
<body>
<br>
<div class="container">
  <br>
  <div class="row">
{% for policy in policies %}
  <!--이부분부터 추가 for문으로 넣으시면 됩니다-->
  <div class = "col-sm-12 col-md-6 col-xl-4" style="margin-bottom:20px;">
    <div class="card h-card">
      <div class="card-body h-card-body">
        <p class="policy_date">{{policy.start_date}}~{{policy.end_date}}　</p><br>
        <a href="{% url 'policydetail' policy.id %}">
          <h2 class="policy_title" style="margin-bottom:5px;">{{policy.summary_title}}</h2>
        {% comment %} <h3>{{policy.summary_title}}</h3> {% endcomment %}
        </a>
        <p class="h-card-text" >
          <h4 style="height:50px;margin-top:5px;margin-bottom:5px;">
            <span class="label label-warning" style="margin-bottom:2px;">{{policy.region}}</span>  
            <span class="label label-warning" style="margin-bottom:2px;">{{policy.age}}</span>  
            {% comment %} <span class="label label-warning" style="margin-bottom:2px;">{{policy.educated}}</span> {% endcomment %}
            {% comment %} <span class="label label-warning">{{policy.category}}</span> <!--카테고리 추가--> {% endcomment %}
          </h4>
        </p>
        <p><h5 class="policy_body">{{policy.summary_body}}</h5></p>
      </div>
    </div>
  </div>
{% endfor %}
  <br>
  {# 로그인 하면 글쓰기 가능... #}
  {% if user.is_authenticated %}
  <a href="{% url 'newPost'%}">글쓰기</a>
  {% endif %}
  <br>
  </div>
</div>
    <hr>
    <br>
    <br>

    {# 게시판 형식 및 페이지네이션 구현 #}

  
    <hr>
    <div class="search_form ">
        <form class="form-inline my-2 my-lg-0 justify-content-center" action="" method="get">
            {# name 속성 : 변수 이름?  #}
            <select class="form-control" title="검색" name="검색">
                <option value="">구분</option>
                <option value="category">대상</option>
                <option value="educated">학력</option>
                <option value="region">지역</option>
            </select>
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{ q }}">
            <input type="submit" class="btn btn-primary" value="검색">
        </form>
    </div>
    <br>
</body>

</html>
{% endblock %}