<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>미눅's Workspace</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <h1>policyList 페이지</h1>
    </div>
    <hr>
    <br>
    <div class="container">
        <table class="table table-striped">
            <thead>
                {# 글쓰기 버튼 #}
                <a href="{% url 'newPost' %}">글쓰기</a>
                <br>
                <h3>총 게시글 수 : {{ policyCount }}</h3>
                
                <tr>
                    <th>번호</th>
                    <th>지역</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>등록일</th>
                    <th>조회수</th>
                </tr>
            </thead>
            <tbody>

                {% for policy in posts %}
                <tr>
                    <td>{{policy.id}}</td>
                    <td>{{policy.region}}</td>
                    <td><a href="{% url 'detail' policy.id %}">{{policy.title}}</a></td>
                    <td>{{policy.writer}}</td>
                    <td>{{policy.pub_date | date:"Y-m-d"}}</td>
                    <td>{{policy.hits}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>

    {# 게시판 형식 및 페이지네이션 구현 #}

    {% if posts.has_other_pages %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if posts.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">&lt;</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
            <li class="page-item disabled"><span class="page-link">&lt;</span></li>
            {% endif %}

            {% for i in posts.paginator.page_range %}
            {% if posts.number == i %}
            <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
            </li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}

            {% if posts.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">&gt;</a></li>
            <li class="page-item"><a class="page-link" href="?page={{posts.paginator.num_pages}}">&raquo;</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">&gt;</span></li>
            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    <hr>
    <div class="search_form ">
        <form class="form-inline my-2 my-lg-0 justify-content-center" action="" method="get">
            {# name 속성 : 변수 이름?  #}
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{ q }}">
            <input type="submit" class="btn btn-primary" value="검색">
        </form>
    </div>




    <!--     <div class="container">
        <h1>게시글</h1>
        {# 글쓰기 버튼 #}
        <a href="{% url 'newPost' %}">글쓰기</a>
        <br>

        {# 글 띄우는 부분 #}
        {% for policy in policies %}
            <h2><a href="{% url 'detail' policy.id %}">{{ policy.title}}</a></h2>
            <h4>{{ policy.pub_date }}</h4>
            <p>{{ policy.body }}</p>
            <a href="{% url 'update' policy.id %}">수정</a>
            <a href="{% url 'delete' policy.id %}">삭제</a>
            <hr>
        {% endfor %}

    </div> -->

</body>

</html>