<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>n</title>
</head>
<body>
    <p>{{ error }}</p>
    <form class="form-signin" method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">로그인</h1>
        <label for="inputEmail">ID</label>
        <input type="text" name="username">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <div class="checkbox mb-3">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</body>
</html>