<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Sign Up</h1>
    <form method="POST" action="{% url 'signup'%}">
        {% csrf_token %}
        Username <br>
        <input type="text" name="username">
        <br>
        Password <br>
        <input type="password" name="password1">
        <br>
        Confirm Password <br>
        <input type="password" name="password2">
        <br>
        Gender <br>
        <input type="text" name = "gender">
        <br>
        Phone <br>
        <input type="text" name = "phone">
        <br>
        Birth <br>
        <input type="date" name="birth">
        <br>
        <br>
        <input type="submit" value="가입하기">
    </form>

</body>
</html>